.vscode
src/transferring_transferability/GNN/__pycache__
src/transferring_transferability/GNN/data
src/transferring_transferability/DeepSet/generator/data
src/transferring_transferability/DeepSet/__pycache__
src/transferring_transferability/GNN_size_generalizability/__pycache__
src/transferring_transferability/GNN_size_generalizability/log
src/transferring_transferability/GNN_size_generalizability/data
src/transferring_transferability/O(n)/__pycache__
src/transferring_transferability/O(n)/log
src/transferring_transferability/__pycache__
src/transferring_transferability/O_n/log
src/transferring_transferability/O_n/__pycache__
src/transferring_transferability/DeepSet/log/size_generalization/anydim_transferability
src/transferring_transferability/DeepSet/log/size_generalization/wandb
src/transferring_transferability/DeepSet/log/transferability/anydim_transferability
src/transferring_transferability/DeepSet/log/transferability/wandb
src/transferring_transferability/GNN/log/size_generalization/large_test size
src/transferring_transferability/GNN/log/size_generalization/save
src/transferring_transferability/GNN/log/size_generalization/anydim_transferability
src/transferring_transferability/GNN/log/size_generalization/wandb
src/transferring_transferability/O_d/log/size_generalization/old_results
src/transferring_transferability/O_d/log/size_generalization/wandb
src/transferring_transferability/O_d/log/size_generalization/anydim_transferability
src/transferring_transferability/GNN/log/transferability
src/transferring_transferability.egg-info