.vscode
GNN/__pycache__
GNN/data
DeepSet/generator/data
DeepSet/__pycache__
GNN_size_generalizability/__pycache__
GNN_size_generalizability/log
GNN_size_generalizability/data
O(n)/__pycache__
O(n)/log
__pycache__
O_n/log
O_n/__pycache__
DeepSet/log/size_generalization/anydim_transferability
DeepSet/log/size_generalization/wandb
DeepSet/log/transferability/anydim_transferability
DeepSet/log/transferability/wandb
GNN/log/size_generalization/large_test size
GNN/log/size_generalization/save
GNN/log/size_generalization/anydim_transferability
GNN/log/size_generalization/wandb
O_d/log/size_generalization/old_results
O_d/log/size_generalization/wandb
O_d/log/size_generalization/anydim_transferability
GNN/log/transferability